<%% content_for :head do %>   
  <%%= javascript_include_tag "app/model/<%= singular_table_name.capitalize %>.js", 
                              "app/store/<%= plural_table_name.capitalize %>.js",
<% attributes.select {|attr| attr.reference? }.each do |attribute| -%>
                              "app/store/<%= singular_table_name.capitalize %><%= attribute.name.pluralize.capitalize %>.js",
<% end -%>
                              "app/view/<%= singular_table_name %>/Form.js", 
                              "app/view/<%= singular_table_name %>/EditWindow.js", 
                              "app/view/<%= singular_table_name %>/Grid.js",
                              "app/controller/<%= plural_table_name %>.js" %>
<%% end %>

<div id="<%= plural_table_name %>_main"></div>