<!DOCTYPE html>
<html>
<head>
  <title>Medtest</title>
  <%= stylesheet_link_tag    "ext/resources/css/ext-all" %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "ext/bootstrap" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
